/*#div-one{
    background-color: black;
    height: 100px;
}*/
#div-two{
    background-color:aqua;
    height: 100px;
    padding: 200px 100px 100px 10px;
    border-style: solid;
    border-width: 50px;
    border-color:  rgb(66, 112, 154);
    margin: 80px;
    text-align: center;
}
/*#div-three{
    background-color: rgb(91, 143, 157);
    height: 100px;
}
*/

