
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color:rgb(48,84,150);
    height: 60px;
}
li {
    list-style-type: none;
    display: inline;
    float: left;
    color: #ffffff;
}
.logo {
    padding: 20px 20px 10px 30px; 
}
.img {
    padding: 10px;
}
h3  {
    text-align: end;
    padding: 20px 60px 10px 20px;
    color: #ffffff;
}
.container {
    height: 400px;
    width:  800px;
    border: 1px solid black;
    display: inline;
    float: left;
    margin: 70px 0px 0px 350px;
}
.column {
    width:  50%;
    float:  left;
    
}
h1 {
    padding-top: 20px;
}
.row {
    padding: 50px;
}
input {
    height: 20px;

}
#btn {
    font-size: 18px;
    color : #ffffff;
    background-color:rgb(48,84,150);
    padding: 10px 20px 10px 20px;
}

footer {
    background-color: gray;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;  
}
footer p {
    padding-top: 10px;
}