*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color:rgb(48,84,150);
    height: 60px;
}
li {
    list-style-type: none;
    display: inline;
    float: left;
    color: #ffffff;
}
.logo {
    padding: 20px 20px 10px 30px; 
}
.img {
    padding: 10px;
}
h3 {
    text-align: end;
    padding: 20px 60px 10px 20px;
    color: #ffffff;
}
h1 {
    padding: 10px 10px 30px 10px;
}
.part2 {
    display: inline;
    float: left;
    padding: 20px 40px 40px 20px;
}
.align {
    padding-top: 30px;
}
.main {
    padding: 90px 300px;
}
.container {
    text-align: center;
    padding-top: 200px;
}
#btn {
    font-size: 17px;
    color : #ffffff;
    background-color:rgb(48,84,150);
    padding: 10px 20px 10px 20px;
}

footer {
    background-color: gray;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;  
}
footer p {
    padding-top: 10px;
}
